{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}


<div class="grid grid-cols-1 gap-2 w-full">
    
    <!-- First section with cover image -->
    <div class="col-span-1 row-span-2 bg-contain relative"
        style="background-image: url('{% static 'imgs/cover-image.png' %}');
                background-repeat: no-repeat;
                background-position: center top;
                width: 100%; /* Ensures the div spans the full width */
                height: 30vw; /* Sets the height to 30% of the viewport width */
                background-size: cover;">
        <!-- The content inside the div -->
        <div class="flex flex-col absolute inset-0 md:pt-2 lg:pt-3">
            <!-- Title section -->
            <div class="flex flex-col justify-start items-start pl-4 md:pl-12 lg:pl-16 pt-4 md:pt-8 lg:pt-12" style="max-height: 200px;">
                <h1 class="text-white text-4xl md:text-5xl lg:text-8xl" style="font-family: 'Luckiest Guy', serif;">Django Horizons</h1>
            </div>
        
            <!-- Description section -->
            <div class="flex flex-col justify-start items-start pl-6 md:pl-12 lg:pl-16">
                <p class="text-white text-lg md:text-2xl lg:text-4xl hidden md:block" style="font-family: 'Luckiest Guy', serif;">
                    A blog documenting my journey into Web Development
                </p>
            </div>
        </div>
    </div>
    
    <!-- Second section with two columns -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 w-full px-4 md:px-8 lg:px-12 py-2 md:py-4 lg:py-6">
        <div class="col-span-1 lg:col-span-1 row-span-5 flex flex-col justify-between">
            <p class="text-green-800 text-lg pb-1 md:pb-2 lg:pb-3 md:text-2xl lg:text-3xl md:block" style="font-family: 'Luckiest Guy', serif;">
                Welcome to my blog!
            </p>
            <p class="text-black md:text-lg lg:text-2xl">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                mollit anim id est laborum."</p>
            <div class="mt-auto self-end">
                <button class="btn btn-primary mr-8 mb-8">About this blog</button>
            </div>
        </div>
        <div class="col-span-1 lg:col-span-1 row-span-5">
            <p class="text-green-800 text-lg pb-1 md:pb-2 lg:pb-3 md:text-2xl lg:text-3xl md:block" style="font-family: 'Luckiest Guy', serif;">
                Latest Post
            </p>
            <div class="card card-side bg-base-100 shadow-xl">
                <figure>
                    <img
                        src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
                        alt="Movie" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">New movie is released!</h2>
                    <p>Click the button to watch on Jetflix app.</p>
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary">Read</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 w-full px-4 md:px-8 lg:px-12">
        <div class="col-span-1 lg:col-span-1 row-span-5 hidden md:block">
            <p class="text-green-800 text-lg pb-1 md:pb-2 lg:pb-3 md:text-2xl lg:text-3xl md:block" style="font-family: 'Luckiest Guy', serif;">
                Older Posts
            </p>
        </div>
    </div>
    
    <div class="hidden md:grid md:grid-cols-1 lg:grid-cols-3 gap-4 w-full px-4 md:px-8 lg:px-12 py-2 md:py-4 lg:py-6">
        
        <div class="col-span-1">
            <div class="card bg-base-100 w-full shadow-xl">
                <div class="card-body">
                    <h2 class="card-title">Card title!</h2>
                    <p>If a dog chews shoes whose shoes does he choose?</p>
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-1">
            <div class="card bg-base-100 w-full shadow-xl">
                <div class="card-body">
                    <h2 class="card-title">Card title!</h2>
                    <p>If a dog chews shoes whose shoes does he choose?</p>
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-1">
            <div class="card bg-base-100 w-full shadow-xl">
                <div class="card-body">
                    <h2 class="card-title">Card title!</h2>
                    <p>If a dog chews shoes whose shoes does he choose?</p>
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    
    

    </div>

    <div class="flex flex-col justify-center items-center mt-4 mb-8">
        <div class="self-center">
            <button class="btn btn-primary mr-8 mb-8">View all blog posts</button>
        </div>
        <p class="text-center">© 2025 Nicolás Ferreira. All rights reserved.</p>
    </div>
</div>
{% endblock content %}
