{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}


<div class="grid grid-cols-1 gap-2 w-full">
    
    <!-- First section with cover image -->
    <div class="col-span-1 row-span-2 bg-contain relative"
        style="background-image: url('{% static 'imgs/cover-image.png' %}');
                background-repeat: no-repeat;
                background-position: center top;
                width: 100%; /* Ensures the div spans the full width */
                height: 30vw; /* Sets the height to 30% of the viewport width */
                background-size: cover;">
        <!-- The content inside the div -->
        <div class="flex flex-col absolute inset-0 md:pt-2 lg:pt-3">
            <!-- Title section -->
            <div class="flex flex-col justify-start items-start pl-4 md:pl-12 lg:pl-16 pt-8 md:pt-8 lg:pt-12" style="max-height: 200px;">
                <h1 class="text-white text-4xl md:text-5xl lg:text-8xl" style="font-family: 'Luckiest Guy', serif;">Django Horizons</h1>
            </div>
        
            <!-- Description section -->
            <div class="flex flex-col justify-start items-start pl-6 md:pl-12 lg:pl-16">
                <p class="text-white text-lg md:text-2xl lg:text-4xl hidden md:block" style="font-family: 'Luckiest Guy', serif;">
                    A blog documenting my journey into Web Development
                </p>
            </div>
        </div>
    </div>
    
    <!-- Second section with two columns -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 w-full px-4 md:px-8 lg:px-12 py-2 md:py-4 lg:py-6">
        <div class="col-span-1 lg:col-span-1 row-span-5 flex flex-col justify-between">
            <p class="text-green-800 text-lg pb-1 md:pb-2 lg:pb-3 md:text-2xl lg:text-3xl md:block" style="font-family: 'Luckiest Guy', serif;">
                Welcome to my blog!
            </p>
            <p class="text-black md:text-lg lg:text-2xl md:pb-2 lg:pb-3">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                mollit anim id est laborum."</p>
            <div class="mt-auto self-end">
                <button class="btn btn-primary mr-8 mb-8 bg-purple-800 hover:bg-purple-800">About this blog</button>
            </div>
        </div>
        <div class="col-span-1 lg:col-span-1 row-span-5">
            <p class="text-green-800 text-lg pb-1 md:pb-2 lg:pb-3 md:text-2xl lg:text-3xl md:block" style="font-family: 'Luckiest Guy', serif;">
                Latest Post
            </p>
            <div class="card card-side bg-slate-200 shadow-xl">
                <figure>
                    {% image posts.0.blog_banner_image width-400 as img %}
                    <img src="{{ img.url }}" alt="Cover Image">
                </figure>
                <div class="card-body">
                    <p>{{posts.0.date}}</p>
                    <h2 class="card-title">{{posts.0.title}}</h2>
                    <p>Click the button to watch on Jetflix app.</p>
                    <div class="card-actions justify-end">
                        <button class="btn btn-primary mr-8 mb-8 bg-purple-800 hover:bg-purple-800">Read</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 w-full px-4 md:px-8 lg:px-12">
        <div class="col-span-1 lg:col-span-1 row-span-5 hidden md:block">
            <p class="text-green-800 text-lg pb-1 md:pb-2 lg:pb-3 md:text-2xl lg:text-3xl md:block" style="font-family: 'Luckiest Guy', serif;">
                Older Posts
            </p>
        </div>
    </div>
    
    <div class="hidden md:grid md:grid-cols-1 lg:grid-cols-3 gap-4 w-full px-4 md:px-8 lg:px-12 py-2 md:py-4 lg:py-6">
        
        <div class="col-span-1">
            <div class="card card-side bg-slate-200 shadow-xl">
                <figure>
                    {% image posts.1.blog_banner_image width-250 as img %}
                    <img src="{{ img.url }}" alt="Cover Image">
                </figure>
                <div class="card-body">
                    <h2 class="card-title">{{posts.1.date}}</h2>
                    <h2 class="card-title font-bold">{{posts.1.title}}</h2>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary mr-8 mb-8 bg-purple-800 hover:bg-purple-800">Read</button>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-span-1">
            <div class="card card-side bg-slate-200 shadow-xl">
                <figure>
                    {% image posts.2.blog_banner_image width-250 as img %}
                    <img src="{{ img.url }}" alt="Cover Image">
                </figure>
                <div class="card-body">
                    <h2 class="card-title">{{posts.2.date}}</h2>
                    <h2 class="card-title font-bold">{{posts.2.title}}</h2>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary mr-8 mb-8 bg-purple-800 hover:bg-purple-800">Read</button>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-span-1">
            <div class="card card-side bg-slate-200 shadow-xl">
                <figure>
                    {% image posts.3.blog_banner_image width-250 as img %}
                    <img src="{{ img.url }}" alt="Cover Image">
                </figure>
                <div class="card-body">
                    <h2 class="card-title">{{posts.3.date}}</h2>
                    <h2 class="card-title font-bold">{{posts.3.title}}</h2>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary mr-8 mb-8 bg-purple-800 hover:bg-purple-800">Read</button>
                  </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    
    

    </div>

    <div class="flex flex-col justify-center items-center mt-4 mb-8">
        <div class="self-center">
            <button class="btn btn-primary mr-8 mb-8 bg-purple-800 hover:bg-purple-800">View all blog posts</button>
        </div>
        <p class="text-center">© 2025 Nicolás Ferreira. All rights reserved.</p>
    </div>
</div>
{% endblock content %}
