anyascii==0.3.2
asgiref==3.8.1
beautifulsoup4==4.12.3
boto3==1.37.3
botocore==1.37.3
certifi==2024.12.14
charset-normalizer==3.4.1
defusedxml==0.7.1
dj-database-url==2.3.0
dj-email-url==1.0.6
Django==5.1.5
django-cache-url==3.4.5
django-filter==24.3
django-modelcluster==6.4
django-permissionedforms==0.1
django-ranged-response==0.2.0
django-simple-captcha==0.6.2
django-storages==1.14.5
django-taggit==6.1.0
django-treebeard==4.7.1
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
draftjs-exporter==5.0.0
environs==14.1.1
et_xmlfile==2.0.0
filetype==1.2.0
gunicorn==23.0.0
idna==3.10
jmespath==1.0.1
l18n==2021.3
laces==0.1.2
marshmallow==3.26.1
openpyxl==3.1.5
packaging==24.2
pillow==11.1.0
pillow_heif==0.21.0
psycopg==3.2.5
psycopg-binary==3.2.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
s3transfer==0.11.3
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
telepath==0.3.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
wagtail==6.3.2
wagtail-modeladmin==2.1.0
whitenoise==6.9.0
Willow==1.9.0
