{% extends "base.html" %}

{% load widget_tweaks %}

{% load static %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<div class="col-span-1 row-span-2 bg-contain relative"
            style="background-image: url('{% static 'imgs/cover-image-simple.png' %}');
                    background-repeat: no-repeat;
                    background-position: center top;
                    width: 100%; /* Ensures the div spans the full width */
                    height: 12vw; /* Sets the height to 10% of the viewport width */
                    background-size: cover;">
            <!-- The content inside the div -->
            <div class="flex flex-col absolute inset-0 md:pt-2 lg:pt-3 lg:w-3/4 mx-auto w-full">
                <!-- Title section -->
                <div class="flex flex-col justify-start items-start pl-4 md:pl-8 lg:pl-12 xl:pl-16 pt-4 md:pt-6 lg:pt-8 xl:pt-10" style="max-height: 200px;">
                    <h1 class="text-white text-2xl md:text-4xl lg:text-5xl xl:text-6xl" style="font-family: 'Luckiest Guy', serif;"><a href="/">Django Horizons</a></h1>
                </div>
            </div>
    </div>




<div class="grid grid-cols-1 gap-4 md:gap-6 lg:gap-8 w-full px-4 md:px-8 lg:px-12 py-2 md:py-4 lg:py-6 lg:w-3/4 mx-auto mt-1 md:mt-2 lg:mt-3 w-full">
    
    <p class="meta font-semibold">{{ page.date }}</p>
    <div class="col-span-1 lg:col-span-1 row-span-5 flex flex-col justify-between">
        <h1 class="text-green-800 text-2xl pb-1 md:pb-2 lg:pb-3 md:text-3xl lg:text-4xl md:block" style="font-family: 'Luckiest Guy', serif;">
            {{ page.blog_title }}
        </h1>

        <div class="my-2 md:my-3 lg:my-4">
            {% image page.blog_banner_image max-600x400 %}
        </div>

        {% for block in page.body %}
            <div class="m-1">
            {% include_block block %}
            <br>
            </div>
        {% endfor %}

    </div>

    <div class="flex flex-col justify-center items-center mt-auto mb-8">
        <div class="self-center">
            <a href="{{blog_listing_page_url}}" class="btn btn-primary mr-8 mb-8 bg-purple-800 hover:bg-purple-800 text-lg">View all blog posts</a>
        </div>
    </div>

    <div class="col-span-1 lg:col-span-1 row-span-5 flex flex-col justify-between mb-1 md:mb-2 lg:mb-3">
        

        <h1 class="text-green-800 text-2xl pb-1 md:pb-2 lg:pb-3 md:text-3xl lg:text-4xl md:block" style="font-family: 'Luckiest Guy', serif;">
        Comments
        </h1>
        {% if comments %}
        {% for comment in comments %}
            <div class="comment my-2 md:my-3 lg:my-4 p-4 rounded-lg" 
                style="background-color: {% if comment.user_account.is_superuser %} lightgreen {% else %} #EDEFED {% endif %};">
                <p><strong>{{ comment.name }}</strong> ({{ comment.created_on }})</p>
                <p>{{ comment.body }}</p>
            </div>
            <hr>
        {% endfor %}
        {% endif %}

    </div>

    <div class="col-span-1 lg:col-span-1 row-span-5 flex flex-col justify-between mb-4 md:mb-5 lg:mb-6 bg-white p-6 shadow-lg rounded-lg border border-gray-200">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Leave a Comment</h2>
        <form method="post">
            {% csrf_token %}
            <div class="space-y-4">
                <!-- Loop through each form field for consistent styling -->
                {% for field in form %}
                    <div>
                        <label for="{{ field.id_for_label }}" class="block text-gray-700 font-medium mb-2">{{ field.label }}</label>
                        <div class="mb-4">
                            <div class="relative">
                                {{ field|add_class:"border border-gray-300 p-2 rounded-md" }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="py-2 px-6 mt-4 bg-green-800 text-white font-semibold rounded-lg">Post Comment</button>
        </form>
    </div>
    

    <div class="flex flex-col justify-center items-center mt-auto mb-8">
        <p class="text-center">© 2025 Nicolás Ferreira. All rights reserved. <a href="https://www.vecteezy.com/free-vector/landscape">Landscape Vectors by Vecteezy</a>.</p>
    </div>
</div>
    


{% endblock %}