{% extends "base.html" %}
{% load wagtailcore_tags %}

{% load static %}

{% block body_class %}template-blog_listing_page{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<div class="col-span-1 row-span-2 bg-contain relative"
            style="background-image: url('{% static 'imgs/cover-image-simple.png' %}');
                    background-repeat: no-repeat;
                    background-position: center top;
                    width: 100%; /* Ensures the div spans the full width */
                    height: 12vw; /* Sets the height to 10% of the viewport width */
                    background-size: cover;">
            <!-- The content inside the div -->
            <div class="flex flex-col absolute inset-0 md:pt-2 lg:pt-3 lg:w-3/4 mx-auto w-full">
                <!-- Title section -->
                <div class="flex flex-col justify-start items-start pl-4 md:pl-8 lg:pl-12 xl:pl-16 pt-4 md:pt-6 lg:pt-8 xl:pt-10" style="max-height: 200px;">
                    <h1 class="text-white text-2xl md:text-4xl lg:text-5xl xl:text-6xl" style="font-family: 'Luckiest Guy', serif;">Django Horizons</h1>
                </div>
            </div>
</div>



<br>
<div class="grid grid-cols-1 gap-8 w-full px-4 md:px-8 lg:px-12 py-2 md:py-4 lg:py-6 lg:w-3/4 mx-auto w-full">

    <div>
        {{page.custom_title}}
    </div>
    <br>
    
    {% for post in posts %}
    <a href="{{post.url}}">{{post.title}}</a>
    <hr>

{% endfor %}
    </div>
</div>


{% endblock content %}