{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<div class="col-span-1 row-span-2 bg-contain relative"
            style="background-image: url('{% static 'imgs/cover-image-simple.png' %}');
                    background-repeat: no-repeat;
                    background-position: center top;
                    width: 100%; /* Ensures the div spans the full width */
                    height: 12vw; /* Sets the height to 10% of the viewport width */
                    background-size: cover;">
            <!-- The content inside the div -->
            <div class="flex flex-col absolute inset-0 md:pt-2 lg:pt-3 lg:w-3/4 mx-auto w-full">
                <!-- Title section -->
                <div class="flex flex-col justify-start items-start pl-4 md:pl-8 lg:pl-12 xl:pl-16 pt-4 md:pt-6 lg:pt-8 xl:pt-10" style="max-height: 200px;">
                    <h1 class="text-white text-2xl md:text-4xl lg:text-5xl xl:text-6xl" style="font-family: 'Luckiest Guy', serif;"><a href="/">Django Horizons</a></h1>
                </div>
            </div>
    </div>




<div class="grid grid-cols-1 gap-8 w-full px-4 md:px-8 lg:px-12 py-2 md:py-4 lg:py-6 lg:w-3/4 mx-auto w-full">
    
    <p class="meta">{{ page.date }}</p>
    <div class="col-span-1 lg:col-span-1 row-span-5 flex flex-col justify-between">
        <h1 class="text-green-800 text-2xl pb-1 md:pb-2 lg:pb-3 md:text-3xl lg:text-4xl md:block" style="font-family: 'Luckiest Guy', serif;">
            {{ page.blog_title }}
        </h1>

        {% for block in page.body %}
            <div class="m-1">
            {% include_block block %}
            <br>
            </div>
        {% endfor %}

    </div>

    <div class="flex flex-col justify-center items-center mt-auto mb-8">
        <div class="self-center">
            <a href="{{blog_listing_page_url}}" class="btn btn-primary mr-8 mb-8 bg-purple-800 hover:bg-purple-800">View all blog posts</a>
        </div>
        <p class="text-center">© 2025 Nicolás Ferreira. All rights reserved. <a href="https://www.vecteezy.com/free-vector/landscape">Landscape Vectors by Vecteezy</a>.</p>
    </div>
</div>
    


{% endblock %}